@import model.Book
@import helper._

@(bookForm: Form[Book])

<html>
    <head>
        <title>Create Book</title>
    </head>
    <body>
        <h1>Create Book</h1>
        @helper.form(action = routes.BooksController.save()) {
            @helper.inputText(bookForm("id"))
            @helper.inputText(bookForm("title"))
            @helper.inputText(bookForm("price"))
            @helper.inputText(bookForm("author"))

            <input type="submit" value="Create Book">
        }
    </body>
</html>